@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/base';

@import './components/buttons';
@import './components/image-with-centered-form';

@import './layout/footer';
@import './layout/header';

@import './pages/home';
@import './pages/login';
@import './pages/product-catelog';
@import './pages/product-page';
@import './pages/signup';

html, body {
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
%no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
    @extend %no-scrollbar;
}

// main section

// Second Page goes here...................

//   media queries ***************************************************
@media (max-width:767px) {
    #footer-plus-icon {
        display: block;
    }
    #footer-minus-icon {
        display: none;
    }
    #ul-toggle {
        display: none;
    }
}
@media (min-width:768px) {
    #footer-plus-icon, #footer-minus-icon {
        display: none;
    }
    #ul-toggle {
        display: block;
    }
}
@media (min-width:768px) and (max-width:1048px) {
    #viewDiv {
        width: 200px;
    }   
}