@import './abstracts/mixins';
@import './abstracts/variables';

@import './base/base';

@import './components/buttons';
@import './components/image-with-centered-form';

@import './layout/footer';
@import './layout/grid';
@import './layout/header';

@import './pages/home';
@import './pages/login';
@import './pages/product-catelog';
@import './pages/product-page';
@import './pages/signup';

html, body {
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
%no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
    @extend %no-scrollbar;
}

@use  '../../../../node_modules/bootstrap/scss/bootstrap.scss';