// @import '../../../../../node_modules/bootstrap/scss/variables'
.to-btn__bgred {
    @include btn-block($width: 16rem);
}
.to-grid__btn {
    @include btn-block($width: 16rem);
}
.to-showroom__btn {
    @include btn-block($width: 20rem);
}

.to-main__btn-group {
    margin: 1.5rem;
    .to-btn__bg-dark {
        @include btn-block($width: 14rem);
        background-color: rgba($color: $bs-gray-700, $alpha: 0.3);
        padding: 0.4rem;
        margin-right: 1.5rem;
    }
}