.to-main__imgwrap {
    @include main-section;
}
.to-main__form-block {
    position: relative;
    background-color: rgba($color: #000000, $alpha: 0.6);
    border: 1px solid $bs-gray-700;
    margin: auto;
    top: 40px;
    padding: 20px;
    .to-main__skip {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $bs-gray-500;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .to-main__h2 {
        position: relative;
        margin: 4rem 0 3rem 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        color: $bs-gray-400;
        .to-main__dot {
            @include dot;    
        }
    }
    .to-main__form {
        margin: 0.2rem 1.5rem;
        .to-main__form-input {
            width: 100%;
            @include btn-block($fontSize: medium);
            background-color: transparent; 
            padding: 0.5rem 0;
            margin-bottom: 1.2rem; 
               
        }
        .to-main__form-input::placeholder {
            color: $bs-gray-700;
        }
        .to-Forgot-Pwd__link {
            color: $bs-gray-500;
            text-decoration: none;
            display: block;
            padding: 0.5rem 0;
            margin-bottom: 1.5rem;
            font-weight: 500;
        }
        .to-form__signup {
            margin-top: 1rem;
            color: $bs-gray-600;
            a {
                margin-left: 1rem;
                color: $bs-gray-500;
                text-decoration: none;
            }
        }
    }
    .to-main__or {
        color: $bs-gray-600;
        margin: 1.5rem;
    }
}