// Footer
.footer {
    border-top: 2px solid rgb(59, 59, 59);
    .container-fluid {
        ul {
            padding: 8px;
            margin: 0 4px;
            li {
                list-style-type: none;
                margin-bottom: 6px;
            }
        }
    } 
}
#viewDiv {
    padding: 0;
    margin: 0;
    height: 180px;
    width: 250px;
  }

#footer-plus-icon, #footer-minus-icon {
    display: none;
    font-size: 24px;
}

//   media queries ***************************************************
@media (max-width:767px) {
    #footer-plus-icon {
        display: block;
    }
    #footer-minus-icon {
        display: none;
    }
    #ul-toggle {
        display: none;
    }
}
@media (min-width:768px) {
    #footer-plus-icon, #footer-minus-icon {
        display: none;
    }
    #ul-toggle {
        display: block;
    }
}
@media (min-width:768px) and (max-width:1048px) {
    #viewDiv {
        width: 200px;
    }   
}