@mixin btn-block($fontSize: x-large, $width: 16rem) {
    border: none; 
    outline: none;
    color: $white;
    width: $width;
    font-size: $fontSize;
    padding: 0.4rem;
    background-color:rgba($color: #ff0000, $alpha: 0.8);
}
@mixin figcaption-style($border-b: $bs-gray-600) {
        padding: 2px 0;
        text-align: start;
        font-size: 1.6rem;
        width: 75%;
        border-bottom: 2px solid $border-b;
        font-weight: 500;    
}
@mixin main-section($bgURL: '../../images/car.jpg', $bgSize: contain, $bgColor: $black, $height: auto) {
    position: relative;
    background: $bgColor url($bgURL) no-repeat center;
    background-size: $bgSize;
    min-height: $height;
    width: 100%;
    padding-bottom: 12rem;
}
@mixin dot($padding: 3px) {
    background-color: red;
    padding: $padding;
    margin: 4px;
    bottom: 4px;
}
