
.to-block {
    position: relative;
    background: rgba($color: #000000, $alpha: 0.8);
    padding: 4rem;
    height: 28rem;
    top: 5rem;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    .to-block__h1 {
        margin: 1.2rem 0;
        color: $bs-gray-400;
    }
    .to-block__p {
        color: $bs-gray-500;
        font-size: 1.5rem;
    }
}
%showroom-block {
    padding: 2rem;
    height: 24rem;
    width: 45%;
    font-size: 1.2rem;
    line-height: 2rem;
    top: 2.5rem;
    color: $white;
    z-index: 5;
}
%showroom-imgWrap {
    width: 58%;
    height: 29rem;
    z-index: 0;
}
.to-home__imgwrap {
    @include main-section($bgURL: '../../images/to-sec-page-car.jpg');
}
.to-showroom {
    position: relative;
    .to-showroom__imgwrap {
        @extend %showroom-imgWrap;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .to-showroom__imgwrap1 {
        @extend %showroom-imgWrap;
        position: absolute;
        right: 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .to-showroom__block1 {
        @extend %showroom-block;
        position: absolute;
        box-shadow: 2px 2px 2px red;
        right: 0;
        h3 {
            display: flex;
            align-items: baseline;
            .to-main__dot {
                @include dot($padding: 4px);
            }
        }
        p {
        color: $bs-gray-600;
        }
    }
    .to-showroom__block2 {
        @extend %showroom-block;
        position: relative;
        left: 0;
        box-shadow: 2px -2px 2px inset red;
        h3 {
            display: flex;
            align-items: baseline;
            .to-main__dot {
                @include dot($padding: 4px);
            }
        }
        p {
        color: $bs-gray-600;
        }
    }
}